.input{
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
}
.input label{
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input input{
    font: inherit;
    width: 80%;
    border: 2px solid #ccc;
    padding: 5px;
    padding-left: 20px;
    border-radius: 10px;
    margin: 5px 0;
}
.input input:focus{
    border: none;
    outline: 4px solid rgba(93,204,157,0.5);
}
.input button{
    display: block;
    font-size: 14px;
    font-weight: bolder;
    margin: 20px auto 10px auto;
}